.card {
  /* adds shadow and transition to create card effect*/
  box-shadow: 5px 6px 3px 3px rgba(84, 81, 81, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  /* width: 100%; */
  height: 250px;
  padding: 25px;
  background-color: #e57f84;
  border: 2px solid rgb(82, 76, 76);
  font-size: 20px;
  transition: all 100ms;
  overflow: hidden;
}

.card:hover {
  /* deeper shadow when hovered */
  box-shadow: 0 8px 16px 0 rgba(12, 11, 11, 0.2);
}

.card button {
  display: none;
}

.card.open {
  top: 50%;
  left: 50%;
  width: 70%;
  height: 80%;
  position: fixed;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.card.open button {
  display: inline;
}

.button {
  background-color: #2f5061;
  border-radius: 25px;
  padding: 25px;
  margin-left: 8.5rem;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.titles {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
}

.h2 {
  margin: 3rem 8.5rem;
  font-family: "Poppins", sans-serif;
}

.buttonStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.exitButton {
  background-color: #2f5061;
  padding: 10px;
  color: white;
  font-size: 25px;
  border-radius: 20px;
}
